/* Estilos gerais */
body {
    width: 100%;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(190, 164, 124);
}

header {
    width: 100%;
    background-color: burlywood;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para garantir que padding e border sejam contabilizados no tamanho total */
    letter-spacing: 1px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#img1{
    width: 3000px;
}

.logo a {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.logo img {
    width: 70px;
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mobilemenu {
    cursor: pointer;
    display: none;
}

.mobilemenu div {

    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

nav {
    max-width: 1280px;
    justify-content: space-around;
    align-items: center;
    background: burlywood;
    height: 70px;
    margin-inline: auto;
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 0;
}

.nav-list a {
    padding-block: 16px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: black;
    position: relative;
}

.nav-list li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: -5px;
    left: 0;
}

.nav-list li:hover::before {
    transform: scaleX(1);
}

.slider {
    margin: 0 auto;
    width: 100%; /* Ajustado para ser responsivo */
    max-width: 70%;
    height: 500px; /* Ajuste conforme necessário */
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides input {
    display: none;
}

.slide {
    min-width: 100%;
    transition: 2s;
}

.slide img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.manual-navigation,
.navigation-auto {
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn,
.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child),
.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover,
.navigation-auto div:hover {
    background-color: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100%;
}

#radio3:checked ~ .first {
    margin-left: -200%;
}

#radio4:checked ~ .first {
    margin-left: -300%;
}

/* Container principal */
#conteudo {
    padding: 9px;
    background-color: #f0f0f0; /* Mude conforme necessário */
}

.info1.box-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff8e1; /* Mude conforme necessário */
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.acervo-row {
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente com espaço ao redor */
    flex-wrap: wrap; /* Quebra para a próxima linha se não couberem em uma linha */
}

.acervo-item {
    flex: 1;
    min-width: 150px; /* garantir que não fiquem muito pequenos */
    margin: 10px; /* Espaçamento entre os itens */
}

.acervo-item__text {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 40px;
}

.cicle {
    width: 155px;
    height: 155px;
    background-color: #d2b48c; /* Background do círculo, mude conforme necessário */
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cicle-num {
    font-size: 20px;
    font-weight: bold;
    color: #fff; /* Cor do texto dentro do círculo */
}

.cicle span {
    font-size: 10px;
    color: #fff; /* Cor do texto dentro do círculo */
}


@media (max-width: 750px) {
    /* Ajustes para smartphones e dispositivos menores */
    header {
        padding: 13px 0;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        min-width: 100%;
        transition: 2s;
    }
    
    .slide img {
        max-height: 100%;
        max-width: 120%;
        display: block;
        margin: 0 auto;
    }
    
    .mobilemenu {
        display: block;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #d2b48c;
        clip-path: circle(100px at 120% -5%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.7s 0.4;
    }
    .nav-list li:nth-child(2) a{
        transition: 0.7s 0.6;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.7s 0.8;
    }
    .nav-list li:nth-child(4) a{
        transition: 0.7s 0.10;
    }
    .nav-list li:nth-child(5) a{
        transition: 0.7s 0.14;
    }
    .nav-list li:nth-child(6) a{
        transition: 0.7s 0.16;
    }


    /* estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .logo a {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        color: black;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        display: none;
    }
    
    .logo img {
        width: 70px;
        height: auto;
        margin-left: 30px;
        margin-right: 60px;
        border-radius: 10%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-list li {
        margin-left: 50px;
    }

    .manual-navigation,
    .navigation-auto {
        width: 100%;
        max-width: 100%;
        bottom: 5px;
    }

    .manual-btn,
    .navigation-auto div {
        padding: 3px; /* Ajuste de espaçamento para botões menores */
    }

    .acervo-row {
        justify-content: center; /* Centraliza os itens na linha */
    }

    .acervo-item {
        flex-basis: 100%; /* Um item por linha em dispositivos menores */
        margin: 10px 0;
        text-align: center; /* Centraliza o texto dentro dos itens */
    }

    .cicle {
        width: 100px;
        height: 100px;
        margin: 0 auto; /* Centraliza horizontalmente */
    }

    .cicle-num {
        font-size: 18px;
    }

    .cicle span {
        font-size: 10px;
    }
}
